[Unit]
Description=Prometheus SNMP Exporter Service
After=network.target

[Service]
Type=simple
User=mikrotik
Group=mikrotik
ExecStart=/usr/local/bin/snmp_exporter --config.file="/usr/local/bin/snmp.yml"

[Install]
WantedBy=multi-user.target